div.footer.
    Footer

style.
    .footer{
        width: 100%;
        float: left;
        padding: 15px 0px;
        background-color: #23DFC9;
        text-align: center;
        margin-top: 14px;
    }