link(rel="stylesheet"  href="/stylesheets/footer.css")


footer
  div(class="sec1")
    h3(class="heading") ABOUT US
    //- p(class="foot") Phone number : 7424906202
    p(class="foot") Email Adrress : <a href="mailto:akshat.prodexiitkgp@gmail.com">akshat.prodexiitkgp@gmail.com</a>

  
  p(class="copy") @Copyright 2019