div.header.
    Header

style.
    .header{
        width: 100%;
        float: left;
        padding: 20px 0px;
        background-color: #23DFC9;
        color: #3f3f3f;
        text-align: center;
        margin-bottom: 14px;
    }