link(rel="stylesheet"  href="/stylesheets/navbar.css")

div(class="upper_sec")
	
    a(href="/")
        img(id="logo" src="/images/prodeximg.png" style="float:left")
    
    div.nav_bar
        
        

        li
            a(href="/submit-idea") Suggest New Ideas


        if(authenticationStatus)
            li
                a(href="/logout") Logout
            li
                a(href="/review-ideas") Review Ideas
            li  
                a(href="/approved-ideas") Approved Ideas



        li
            a(href="/") Home

            //- a(href="/profile") Profile
            //- a(href="/articles") Articles
            //- a(href="/newarticle") New Article
            //- a(href="/projects") Projects
        //- else
        //-     a(href="/login") Login
        //-     a(href="/newuser") New User

        //- if(authenticationStatus && aukaat == "editor")
        //-     a(href="/reviewarticle/editor") Edit Articles
        //- if(authenticationStatus && aukaat == "admin")
        //-     a(href="/reviewarticle/admin") Review Articles
