html
    head
        title Idea
        link(rel="stylesheet"  href="/stylesheets/newidea.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    
    body

        //- include ./header.pug

        include ./navbar.pug

        h2 Submit Ideas

        h5 Your Name:
        input#name(type = 'text', placeholder="Name" class="define-width form-control form-control-lg")

        h5 Email:
        input#email(type = 'text', placeholder="example@email.com" class="define-width form-control form-control-lg")

        h5 Basic Idea:
        input#summary(type = 'text' placeholder = "Eg. A Revolutionary smart pen" class="define-width form-control form-control-lg")

        h5 Please clearly explain you idea:
        textarea#idea(placeholder = "Idea" cols = 100 rows = 18)

        br
        br
        button#submit(class="sendButton btn-lg btn-block define-width") Send!

        div#output

        script(src = "/script/jquery.js")

        script.

            console.log("here");
            $("#submit").on('click', function(){

                var dataToSend = {
                    name: $("#name").val(),
                    email: $("#email").val(),
                    summary: $("#summary").val(),
                    idea: $("#idea").val()
                };

                $.ajax({

                    method: 'POST',
                    url: "/submit-idea",
                    data: dataToSend,
                    dataTyoe : "json",
                    success: (res)=>{
                        if(res == "success!"){
                            console.log(res);
                            $("#output").text("Idea submitted successfully!! \n btw there's no limit on submitting ideas do contribute more");
                            $("#name").val("");
                            $("#summary").val("");
                            $("#idea").val("");
                            $("#email").val("");

                        }
                        else
                            $("#output").text("Some Error occurred from our end. Please try again later.");
                    }

                })

            })

        include ./footer.pug